/* line 2, ../sass/acp.scss */
html,
body {
  height: 100%;
}

/* line 5, ../sass/acp.scss */
table {
  width: 100%;
}

/* line 9, ../sass/acp.scss */
.form-actions input {
  margin-right: 10px;
}

/* line 12, ../sass/acp.scss */
.field-name-field-tags .field-item {
  display: inline-block;
  margin: 0 5px;
}

/* line 17, ../sass/acp.scss */
#comments {
  padding-top: 20px;
}
/* line 19, ../sass/acp.scss */
#comments .title {
  font-size: 18px;
}

/* line 23, ../sass/acp.scss */
.node .field {
  margin-bottom: 10px;
}

/* line 26, ../sass/acp.scss */
.views-slideshow-cycle-main-frame {
  margin: 0 auto;
}

/* line 30, ../sass/acp.scss */
.action-links {
  padding-left: 0;
  list-style-type: none;
  margin-top: 10px;
}

/* line 35, ../sass/acp.scss */
.views-row {
  margin: 20px 0;
}

/* line 38, ../sass/acp.scss */
.cursor:hover {
  cursor: pointer;
}

/** ===== FORUM ===== **/
/* line 43, ../sass/acp.scss */
#forum-comments > .title {
  display: none;
}

/* line 46, ../sass/acp.scss */
.forum-table-topics {
  width: 100%;
}

/* line 49, ../sass/acp.scss */
#forum-topic-list .sticky-header {
  width: 100%;
}

/* line 52, ../sass/acp.scss */
.forum-node-create-links .forum-add-node {
  margin-bottom: 15px;
}

/** ===== WORKBENCH ===== **/
/* line 57, ../sass/acp.scss */
.my-workbench {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}
/* line 60, ../sass/acp.scss */
.my-workbench .view-workbench-current-user img {
  width: 100px;
}
/* line 64, ../sass/acp.scss */
.my-workbench a {
  font-size: 13px;
  text-decoration: none;
}
/* line 68, ../sass/acp.scss */
.my-workbench .left {
  margin-left: 0 !important;
}
/* line 71, ../sass/acp.scss */
.my-workbench .right {
  margin-right: 0 !important;
}
/* line 74, ../sass/acp.scss */
.my-workbench h3 {
  font-weight: 300;
  font-size: 18px;
  margin: 10px 0;
}
/* line 79, ../sass/acp.scss */
.my-workbench .contextual-links-region {
  margin-bottom: 20px;
}
/* line 82, ../sass/acp.scss */
.my-workbench table {
  width: 100%;
}
/* line 84, ../sass/acp.scss */
.my-workbench table th {
  background: none repeat scroll 0 0 #E1E2DC;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}
/* line 90, ../sass/acp.scss */
.my-workbench table th a {
  font-size: 18px;
}
/* line 94, ../sass/acp.scss */
.my-workbench table td {
  font-size: 13px;
  padding: 8px 10px;
}
/* line 98, ../sass/acp.scss */
.my-workbench table tr.even, .my-workbench table tr.odd {
  border-bottom: 0;
}

/** === HOME PAGE === **/
/* line 106, ../sass/acp.scss */
.home-intro-row {
  padding: 19px !important;
  margin-bottom: 20px !important;
}

@media (max-width: 767px) {
  /* line 111, ../sass/acp.scss */
  .panels-flexible-region.col-sm-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 115, ../sass/acp.scss */
  .panels-flexible-2 .panels-flexible-region-inside {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
@media (min-width: 768px) {
  /* line 121, ../sass/acp.scss */
  .panels-flexible-region-2-news {
    width: 50% !important;
  }

  /* line 124, ../sass/acp.scss */
  .panels-flexible-region-2-discussions {
    width: 50% !important;
  }
}
/* line 129, ../sass/acp.scss */
.tabs-secondary {
  border-bottom: 0;
}

/* == PAGE TEMPLATE == */
/* line 134, ../sass/acp.scss */
#page {
  max-width: none;
  position: relative;
  /*background: #FFF;*/
  min-height: 100%;
  padding-bottom: 50px;
}

/* line 141, ../sass/acp.scss */
.heightfix {
  height: 1px;
}

/* line 144, ../sass/acp.scss */
.no-sidebars #page {
  background: #FFF;
  color: #000;
}

/* line 148, ../sass/acp.scss */
.one-sidebar #page {
  background: #072b8a url("../images/sidebar-gradient.png") repeat-x 0% 0%;
  color: #FFF;
}

/* line 152, ../sass/acp.scss */
#header {
  background: #000;
  height: 94px;
  overflow-x: hidden;
}
/* line 156, ../sass/acp.scss */
#header .header__logo-image {
  max-width: none;
}

/* line 160, ../sass/acp.scss */
#main {
  padding: 0;
  min-height: calc(100% - 137px);
}

/* line 164, ../sass/acp.scss */
#content {
  position: relative;
  background: #FFF;
  padding: 20px;
  color: #000;
}

/* line 170, ../sass/acp.scss */
#footer {
  clear: both;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #369;
  color: #FFF;
}

/* line 180, ../sass/acp.scss */
#footer p {
  margin: 10px;
}

/* line 183, ../sass/acp.scss */
#footer .block {
  margin-bottom: 0;
}

/* line 187, ../sass/acp.scss */
.sidebars {
  /*background: #072B8A url('../images/sidebar-gradient.png') repeat-x 0% 0%;*/
}

/* line 190, ../sass/acp.scss */
.sidebars, .sidebars a {
  color: #FFF;
}

/* line 193, ../sass/acp.scss */
.sidebar-first .region-sidebar-first {
  /*width: 200px;*/
  min-height: 100%;
}

/* line 197, ../sass/acp.scss */
.sidebar-first #content {
  min-height: 100%;
  /*margin-left: 200px;*/
  /*width: 85%;*/
}

/* line 203, ../sass/acp.scss */
#logo_container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

/* line 208, ../sass/acp.scss */
#navigation {
  width: 100%;
  position: relative;
  background: #369;
  text-transform: uppercase;
  min-height: 48px;
}
/* line 215, ../sass/acp.scss */
#navigation li {
  border: 0;
  background-color: #369;
  min-height: 48px;
  line-height: 48px;
}
/* line 220, ../sass/acp.scss */
#navigation li:hover {
  background: #7BA3CA;
  cursor: pointer;
}
/* line 223, ../sass/acp.scss */
#navigation li:hover a {
  color: #333;
}
/* line 227, ../sass/acp.scss */
#navigation li.active-trail {
  background: #7BA3CA;
}
/* line 229, ../sass/acp.scss */
#navigation li.active-trail a {
  color: #333;
}
/* line 233, ../sass/acp.scss */
#navigation li.menuparent:hover {
  background: #7ba3ca url("../images/menu-expanded.png") 90% center no-repeat;
}
/* line 235, ../sass/acp.scss */
#navigation li.menuparent:hover li a {
  color: #FFF;
}
/* line 239, ../sass/acp.scss */
#navigation li.menuparent.active-trail {
  background: #7ba3ca url("../images/menu-expanded.png") 90% center no-repeat;
}
/* line 244, ../sass/acp.scss */
#navigation a {
  color: #FFF;
  text-decoration: none;
  padding: 0 10px;
}
/* line 248, ../sass/acp.scss */
#navigation a:hover {
  color: #333;
}
/* line 253, ../sass/acp.scss */
#navigation .menuparent {
  background: #336699 url("../images/menu-expanded-white.png") 90% center no-repeat;
  margin-right: 5px;
}
/* line 256, ../sass/acp.scss */
#navigation .menuparent ul {
  top: 48px;
  white-space: nowrap;
}
/* line 260, ../sass/acp.scss */
#navigation .menuparent li {
  min-width: 18.5em;
}
/* line 263, ../sass/acp.scss */
#navigation .menuparent a {
  padding-right: 20px;
}
/* line 268, ../sass/acp.scss */
#navigation .navbar-toggle {
  float: left;
  background: #FFF;
  margin-bottom: 5px;
}
/* line 272, ../sass/acp.scss */
#navigation .navbar-toggle .icon-bar {
  background: #888;
}
/* line 276, ../sass/acp.scss */
#navigation .navbar-collapse.in {
  background: #369;
  clear: left;
  margin-left: -10px;
}

/* line 284, ../sass/acp.scss */
#user-login-block, .user-menu-block {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 289, ../sass/acp.scss */
#user-login-block .user-login-links {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* line 294, ../sass/acp.scss */
#user-login-block .user-login-links li {
  float: left;
}

/* line 297, ../sass/acp.scss */
#user-login-block .user-login-links a {
  color: white;
  text-decoration: none;
}

/* line 301, ../sass/acp.scss */
#user-login-content {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 9999;
  width: 200px;
  background: #369;
  color: white;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -webkit-transform .2s ease;
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
}

/* line 317, ../sass/acp.scss */
#user-login-content.hidden {
  visibility: hidden;
  width: 0;
  padding: 0;
  overflow: hidden;
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 327, ../sass/acp.scss */
#user-login-content form {
  padding: 10px;
  text-transform: none;
}

/* line 331, ../sass/acp.scss */
#user-login-content ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 335, ../sass/acp.scss */
#user-login-content a {
  color: white;
  text-decoration: none;
}

/* line 339, ../sass/acp.scss */
#user-login-content a:hover {
  text-decoration: underline;
}

/* line 342, ../sass/acp.scss */
#user-login-content input {
  width: 100%;
}

/* line 346, ../sass/acp.scss */
.user-menu-block {
  float: right;
  height: 48px;
  line-height: 48px;
}

/* line 352, ../sass/acp.scss */
#block-menu-menu-tools-menu {
  padding-top: 20px;
}
/* line 354, ../sass/acp.scss */
#block-menu-menu-tools-menu a.active {
  color: #A3A3A3;
}

/* line 360, ../sass/acp.scss */
.side-menu-block ul {
  padding-left: 0;
  list-style-type: none;
}
/* line 364, ../sass/acp.scss */
.side-menu-block li.active-trail {
  color: #B4B4B4;
}
/* line 367, ../sass/acp.scss */
.side-menu-block a {
  padding: 10px 5px 5px 5px;
  display: inline-block;
}
/* line 370, ../sass/acp.scss */
.side-menu-block a.active-trail {
  border-bottom: 1px solid #B4B4B4;
  color: #B4B4B4;
  text-transform: uppercase;
}

/* line 378, ../sass/acp.scss */
.block-devel-node-access {
  color: #000;
}

/** === HOME PAGE === **/
/* line 384, ../sass/acp.scss */
.view-id-home_page_intro .btn {
  margin-right: 10px;
}

/** === ACP DATA TABLE === **/
/* line 390, ../sass/acp.scss */
#datatable-options legend {
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 395, ../sass/acp.scss */
#datatable-display {
  overflow: auto;
}
/* line 397, ../sass/acp.scss */
#datatable-display .intro {
  font-size: 18px;
  margin-bottom: 20px;
}

/** === CONTEXTUAL METADATA === **/
/* line 404, ../sass/acp.scss */
.panels-flexible-region {
  margin-bottom: 20px;
}

/* line 407, ../sass/acp.scss */
.panel-pane {
  position: relative;
}

/* line 410, ../sass/acp.scss */
.sortwrap {
  position: absolute;
  top: 5px;
  right: 0;
}

/* line 415, ../sass/acp.scss */
.sortby, .sortdir {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

/* line 420, ../sass/acp.scss */
.paper.active {
  /*	background-color: #E7E7E7;
  	background-color: rgba(0,0,0,0.1);
  	margin: 0 -10px;
  	padding: 10px;*/
}

/* line 426, ../sass/acp.scss */
.pages a {
  margin: 0 5px;
  text-decoration: underline;
}

/* line 430, ../sass/acp.scss */
.metapanel hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/** === BUG REPORT FORM === **/
/* line 436, ../sass/acp.scss */
.node-bug-form #edit-casetracker td, .node-bug #edit-casetracker td {
  padding: 10px;
}

/* line 439, ../sass/acp.scss */
.node-bug-form #edit-casetracker label, .node-bug #edit-casetracker label {
  margin-bottom: 0;
}

/** === NODE EDIT FORM === **/
/* line 448, ../sass/acp.scss */
a.button {
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

/* line 454, ../sass/acp.scss */
a.button:hover {
  background-color: #BEBEBE;
}

/** === LOADING ANIMATION === **/
/* line 459, ../sass/acp.scss */
.spinner {
  /*margin: 100px auto;*/
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  /*float: left;*/
  display: inline-block;
  margin-right: 20px;
}

/* line 470, ../sass/acp.scss */
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 480, ../sass/acp.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 485, ../sass/acp.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 490, ../sass/acp.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 495, ../sass/acp.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  /* line 501, ../sass/acp.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 502, ../sass/acp.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  /* line 506, ../sass/acp.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 509, ../sass/acp.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
